/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #d1d1d1;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 2px solid #9b9b9b;

  }
  
  /* Links inside the navbar */
  .navbar a {
    display: inline-block;
    color: #454545;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #bdbdbd;
    color: black;
  }
  